In [1]:
import pandas_datareader.data as web  # module for reading datasets directly from the web
import pandas_datareader.famafrench as ff

In [2]:
datasets = ff.get_available_datasets()
print('No. of datasets:{0}'.format(len(datasets)))

No. of datasets:297

In [3]:
# print(datasets)

In [4]:
df_10_industry = [dataset for dataset in datasets if '10' in dataset and 'Industry' in dataset]
print(df_10_industry)

['10_Industry_Portfolios', '10_Industry_Portfolios_Wout_Div', '10_Industry_Portfolios_daily']

In [5]:
df_10_industry

['10_Industry_Portfolios',
 '10_Industry_Portfolios_Wout_Div',
 '10_Industry_Portfolios_daily']

In [6]:
ds_industry = web.DataReader(df_10_industry[0],'famafrench',start='2017-06-23',end='2019-11-01')

In [7]:
print(type(ds_industry))
ds_industry.keys()

<class 'dict'>

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 'DESCR'])

In [8]:
print(ds_industry['DESCR'])

10 Industry Portfolios
----------------------

This file was created by CMPT_IND_RETS using the 202301 CRSP database. It contains value- and equal-weighted returns for 10 industry portfolios. The portfolios are constructed at the end of June. The annual returns are from January to December. Missing data are indicated by -99.99 or -999. Copyright 2023 Kenneth R. French

  0 : Average Value Weighted Returns -- Monthly (30 rows x 10 cols)
  1 : Average Equal Weighted Returns -- Monthly (30 rows x 10 cols)
  2 : Average Value Weighted Returns -- Annual (3 rows x 10 cols)
  3 : Average Equal Weighted Returns -- Annual (3 rows x 10 cols)
  4 : Number of Firms in Portfolios (30 rows x 10 cols)
  5 : Average Firm Size (30 rows x 10 cols)
  6 : Sum of BE / Sum of ME (3 rows x 10 cols)
  7 : Value-Weighted Average of BE/ME (3 rows x 10 cols)

In [9]:
ds_industry[0].head()

         NoDur  Durbl  Manuf  Enrgy  HiTec  Telcm  Shops  Hlth   Utils  Other
Date
2017-06  -1.03   3.51   1.28  -0.08  -2.10  -2.22  -1.90   5.54  -1.89   4.22
2017-07  -0.13  -1.17   2.18   2.07   3.74   5.27   0.12   0.70   2.98   1.49
2017-08  -1.73  -0.10   0.27  -5.09   3.08  -2.64  -1.67   2.58   2.20  -0.38
2017-09  -0.33   5.28   4.17  10.95   0.65  -1.67   2.43   2.05  -1.97   4.36
2017-10   0.09   1.25   2.80   0.49   6.88  -5.68   2.72  -2.27   3.07   2.08

In [12]:
df_5_factor = [dataset for dataset in datasets if '5' in dataset and 'Factor' in dataset]
print(df_5_factor)
ds_factors = web.DataReader(df_5_factor[0],'famafrench',start='2017-06-23',end='2019-11-01') # Taking [0] as extracting 1F-F-Research_Data_Factors_2x3')
print('\nKEYS\n{0}'.format(ds_factors.keys()))
print('DATASET DESCRIPTION \n {0}'.format(ds_factors['DESCR']))
ds_factors[0].head()

['F-F_Research_Data_5_Factors_2x3', 'F-F_Research_Data_5_Factors_2x3_daily', 'Developed_5_Factors', 'Developed_5_Factors_Daily', 'Developed_ex_US_5_Factors', 'Developed_ex_US_5_Factors_Daily', 'Europe_5_Factors', 'Europe_5_Factors_Daily', 'Japan_5_Factors', 'Japan_5_Factors_Daily', 'Asia_Pacific_ex_Japan_5_Factors', 'Asia_Pacific_ex_Japan_5_Factors_Daily', 'North_America_5_Factors', 'North_America_5_Factors_Daily', 'Emerging_5_Factors']

KEYS
dict_keys([0, 1, 'DESCR'])
DATASET DESCRIPTION
 F-F Research Data 5 Factors 2x3
-------------------------------

This file was created by CMPT_ME_BEME_OP_INV_RETS using the 202301 CRSP database. The 1-month TBill return is from Ibbotson and Associates Inc.

  0 : (30 rows x 6 cols)
  1 : Annual Factors: January-December (3 rows x 6 cols)

         Mkt-RF   SMB   HML   RMW   CMA    RF
Date
2017-06    0.78  2.57  1.48 -2.25  0.01  0.06
2017-07    1.87 -1.66 -0.24 -0.69 -0.11  0.07
2017-08    0.16 -1.83 -2.09  0.15 -2.37  0.09
2017-09    2.51  4.77  3.12 -1.46  1.67  0.09
2017-10    2.25 -1.93  0.21  0.92 -3.24  0.09

In [13]:
import pandas_datareader.data as web
import pandas_datareader.famafrench as ff
import pandas as pd

# 이용가능한 데이터셋을 구한다
datasets = ff.get_available_datasets()

In [14]:
# 월간 3팩터(datasets[0])를 구한다
df_3_factor = datasets[0]
print(df_3_factor)

F-F_Research_Data_Factors

In [15]:
df_3_factor

'F-F_Research_Data_Factors'

In [107]:
# 1980년 2월부터 2019년 6월 팩터 데이터를 다운로드한다
ds_factors = web.DataReader(df_3_factor,'famafrench', start='1980-02-01', end='2019-06-30')
print('\nKEYS\n{0}'.format(ds_factors.keys()))
print('DATASET DESCRIPTION \n {0}'.format(ds_factors['DESCR']))

TypeError: download() got multiple values for argument 'start'

In [17]:
ds_factors

{0:          Mkt-RF   SMB   HML    RF
 Date
 1980-02   -1.22 -1.85  0.61  0.89
 1980-03  -12.90 -6.64 -1.01  1.21
 1980-04    3.97  1.05  1.06  1.26
 1980-05    5.26  2.13  0.38  0.81
 1980-06    3.06  1.66 -0.76  0.61
 ...         ...   ...   ...   ...
 2019-02    3.40  2.05 -2.67  0.18
 2019-03    1.10 -3.03 -4.10  0.19
 2019-04    3.97 -1.74  2.14  0.21
 2019-05   -6.94 -1.31 -2.35  0.21
 2019-06    6.93  0.27 -0.72  0.18

 [473 rows x 4 columns],
 1:       Mkt-RF    SMB    HML     RF
 Date
 1980   22.13   5.66 -24.61  11.24
 1981  -18.13   7.11  25.04  14.71
 1982   10.66   8.68  13.29  10.54
 1983   13.75  14.00  20.52   8.80
 1984   -6.05  -8.22  19.13   9.85
 1985   24.91   0.55   1.29   7.72
 1986   10.12  -9.55   9.34   6.16
 1987   -3.87 -10.95  -1.70   5.47
 1988   11.55   5.78  14.99   6.35
 1989   20.49 -12.86  -4.03   8.37
 1990  -13.95 -13.99 -10.03   7.81
 1991   29.18  16.08 -14.72   5.60
 1992    6.23   7.74  24.49   3.51
 1993    8.21   6.37  16.96   2.90
 1994   -4.10  -0.46  -0.89   3.90
 1995   31.22  -9.75   5.97   5.60
 1996   15.96  -4.45   8.67   5.21
 1997   25.96  -7.75  19.01   5.26
 1998   19.46 -25.26 -10.47   4.86
 1999   20.57  15.34 -31.65   4.68
 2000  -17.60  -4.60  44.99   5.89
 2001  -15.21  18.13  18.54   3.83
 2002  -22.76   4.40   8.16   1.65
 2003   30.75  26.78   4.97   1.02
 2004   10.72   4.45   7.63   1.20
 2005    3.09  -2.36   9.41   2.98
 2006   10.60   0.09  11.92   4.80
 2007    1.04  -7.36 -17.28   4.66
 2008  -38.34   2.44   1.00   1.60
 2009   28.26   9.18  -9.65   0.10
 2010   17.37  14.19  -5.22   0.12
 2011    0.44  -5.71  -8.42   0.04
 2012   16.27  -1.40  10.00   0.06
 2013   35.20   7.75   2.60   0.02
 2014   11.71  -7.86  -1.45   0.02
 2015    0.09  -3.99  -9.65   0.02
 2016   13.30   6.66  22.75   0.20
 2017   21.51  -4.97 -13.51   0.80
 2018   -6.95  -3.21  -9.73   1.83
 2019   28.28  -6.11 -10.34   2.15,
 'DESCR': 'F-F Research Data Factors\n-------------------------\n\nThis file was created by CMPT_ME_BEME_RETS using the 202301 CRSP database. The 1-month TBill return is from Ibbotson and Associates, Inc. Copyright 2023 Kenneth R. French\n\n  0 : (473 rows x 4 cols)\n  1 : Annual Factors: January-December (40 rows x 4 cols)'}

In [18]:
# 나중에 구할 펀드수익률과 합치기 위해 인덱스 종류를 변경한다
#ds_factors[0].index=ds_factors[0].index.strftime('%Y-%m')

# ds_3_factors에 저장한다
ds_3_factors = ds_factors[0]

In [21]:
import random
import numpy as np
import pandas as pd
import yfinance as yf
import pandas_datareader.data as web
import matplotlib.pyplot as plt

yf.pdr_override()

In [22]:
# Fidelity Contrafund Fund (FCNTX) 
ticker = "FCNTX"

In [26]:
# 1980년 1월부터 2019년 6월까지 펀드 월간(interval='m') 과거 주가 중 수정주가()['Adj Close'])를 구한다.
pxclose = web.get_data_yahoo(ticker, start='1980-01-01',end='2019-06-30',interval='1d')['Adj Close']

[*********************100%***********************]  1 of 1 completed

In [27]:
pxclose

Date
1980-01-02    0.122128
1980-01-03    0.120517
1980-01-04    0.122343
1980-01-07    0.121913
1980-01-08    0.125350
                ...
2019-06-24    9.518882
2019-06-25    9.389174
2019-06-26    9.381970
2019-06-27    9.439619
2019-06-28    9.497265
Name: Adj Close, Length: 9959, dtype: float64

In [46]:
# 앞서 팩터 자료와 합치기 위해 인덱스 종류를 변경한다
pxclose.index=pxclose.index.strftime('%Y-%m')

AttributeError: 'Index' object has no attribute 'strftime'

In [47]:
pxclose.index

Index(['1980-01', '1980-01', '1980-01', '1980-01', '1980-01', '1980-01',
       '1980-01', '1980-01', '1980-01', '1980-01',
       ...
       '2019-06', '2019-06', '2019-06', '2019-06', '2019-06', '2019-06',
       '2019-06', '2019-06', '2019-06', '2019-06'],
      dtype='object', name='Date', length=9959)

In [48]:
# 수익률을 계산한다
ret_data = pxclose.pct_change()[1:]

In [49]:
ret_data = pd.DataFrame(ret_data)
ret_data.columns = ['portfolio']
ret_data

         portfolio
Date
1980-01  -0.013193
1980-01   0.015152
1980-01  -0.003512
1980-01   0.028194
1980-01   0.000000
...            ...
2019-06  -0.002266
2019-06  -0.013626
2019-06  -0.000767
2019-06   0.006145
2019-06   0.006107

[9958 rows x 1 columns]

In [50]:
ret_data = ret_data.loc[~ret_data.index.duplicated(keep='last')]

In [51]:
ret_data

         portfolio
Date
1980-01  -0.006178
1980-02   0.013736
1980-03   0.020243
1980-04   0.004897
1980-05   0.008197
...            ...
2019-02  -0.003260
2019-03   0.005631
2019-04  -0.004556
2019-05  -0.013568
2019-06   0.006107

[474 rows x 1 columns]

In [53]:
print(ret_data.head(), type(ret_data))
print(ds_3_factors.head(), type(ds_3_factors))

         portfolio
Date
1980-01  -0.006178
1980-02   0.013736
1980-03   0.020243
1980-04   0.004897
1980-05   0.008197 <class 'pandas.core.frame.DataFrame'>

NameError: name 'ds_3_factors' is not defined

In [54]:
ret_data

         portfolio
Date
1980-01  -0.006178
1980-02   0.013736
1980-03   0.020243
1980-04   0.004897
1980-05   0.008197
...            ...
2019-02  -0.003260
2019-03   0.005631
2019-04  -0.004556
2019-05  -0.013568
2019-06   0.006107

[474 rows x 1 columns]

In [59]:
df_5_factor = [dataset for dataset in datasets if '5' in dataset and 'Factor' in dataset]
print(df_5_factor)
ds_factors = web.DataReader(df_5_factor[0],'famafrench',start='2017-06-23',end='2019-11-01') # Taking [0] as extracting 1F-F-Research_Data_Factors_2x3')
print('\nKEYS\n{0}'.format(ds_factors.keys()))
print('DATASET DESCRIPTION \n {0}'.format(ds_factors['DESCR']))
ds_factors[0].head()

['F-F_Research_Data_5_Factors_2x3', 'F-F_Research_Data_5_Factors_2x3_daily', 'Developed_5_Factors', 'Developed_5_Factors_Daily', 'Developed_ex_US_5_Factors', 'Developed_ex_US_5_Factors_Daily', 'Europe_5_Factors', 'Europe_5_Factors_Daily', 'Japan_5_Factors', 'Japan_5_Factors_Daily', 'Asia_Pacific_ex_Japan_5_Factors', 'Asia_Pacific_ex_Japan_5_Factors_Daily', 'North_America_5_Factors', 'North_America_5_Factors_Daily', 'Emerging_5_Factors']

TypeError: download() got multiple values for argument 'start'

In [58]:
ds_3_factors = ds_factors[0]

NameError: name 'ds_factors' is not defined

In [55]:
ds_3_factors

NameError: name 'ds_3_factors' is not defined

In [57]:
# 회귀분석을 위해 두 개의 데이터프레임(ret_data, ds_3_factors)을 합친다
# 두 프레임의 인덱스를 기준으로 합치는 경우 매개변수 left_index와 right_index를 True로 한다.
# 또 합치려는 두 프레임의 컬럼 데이터나 인덱스끼리 서로 일치하는 데이터만 합치는 경우 how 매개변수를 'inner'로 한다.

regress_data=ret_data.merge(ds_3_factors, how = 'inner', left_index= True, right_index= True)
regress_data

NameError: name 'ds_3_factors' is not defined